# .gitignore

# Node modules
node_modules/

# Environment variables
.env

# Operating System Files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
# CSS Map
site.css.map