// Responsive Breakpoints
$small: 576px; // Mobile Devices
$medium: 768px; // Tablets
$large: 992px; // Laptops
$extra-large: 1200px; // Desktops
$double-extra-large: 1400px; // Large Desktops or TVs
// Colors
$dark-orange: #d3821d;
$app-white: #ffffff;
$app-tan: #f2e2cd;